@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.header {
  .hero {
    background:
      linear-gradient(rgba(255, 255, 255, 0.39), rgba(0, 0, 0, 0.247)),
      url("../../assets/placeholder.png");
    background-size: cover;
    background-position: center;
    height: clamp(220px, calc(220px + (100vw - 320px) * 0.2908), 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(tablet) {
      height: clamp(550px, calc(550px + (100vw - 768px) * 1.5625), 950px);
    }
    @include breakpoint(laptop) {
      height: 90dvh;
    }
    @include breakpoint(desktop) {
      height: 90dvh;
    }
    @include breakpoint(desktopxl) {
      height: 90dvh;
    }
    h1 {
      font-family: $Playfair-font, serif;
      color: green;
      text-shadow: 2px 2px 3px black;
      text-align: center;
      text-justify: center;
      margin: 0px;
      font-size: clamp(32px, calc(32px + (100vw - 320px) * 0.07383), 65px);
      @include breakpoint(tablet) {
        font-size: clamp(65px, calc(65px + (100vw - 768px) * 0.09804), 90px);
      }
      @include breakpoint(laptop) {
        font-size: 60px;
        width: 775px;
      }
      @include breakpoint(desktop) {
        font-size: 60px;
        width: 775px;
      }
      @include breakpoint(desktopxl) {
        font-size: clamp(
          165px,
          calc(165px + (100vw - 1920px) * 0.0859375),
          220px
        );
      }
    }
    h3 {
      color: $font-color;
      text-shadow: 2px 2px 3px black;
    }
    .grid {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-top: 60px;
      @include breakpoint(tablet) {
        gap: 20px;
      }
      @include breakpoint(laptop) {
        gap: 30px;
      }
      @include breakpoint(desktop) {
        gap: 50px;
      }
      @include breakpoint(desktopxl) {
        gap: 80px;
      }
    }
  }
}
