@use "../vendors/vendors" as *;

$bp-mobileM: 375px;
$bp-mobileXL: 425px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1440px;
$bp-desktop-xl: 1920px;
$bp-desktop-xxl: 2560px;

$Playfair-font: "Playfair Display", serif;
$WorkSans-font: "WorkSans", serif;
$Geomini-font: "Geomini", serif;

$font-color: #4a5d4e;
$secondary-color: #c9b69c;
$tertiary-color: #16cf05;
$neutral-color: #2d2926;
$white-color: #ffffff;

$font-size: 16px;
