$bp-mobileXL: 425px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1440px;
$bp-desktop-xl: 1920px;
$bp-desktop-xxl: 2560px;

$Playfair-font: "Playfair Display", serif;
$font-color: #4a5d4e;
$font-size: 16px;
